body {
    color: #e6e6e8;
}

a:link {
    text-decoration: none;
color: #e6e6e8;
}

a:visited {
    text-decoration: none;
color: #e6e6e8;
}

a:hover {
    text-decoration: none;
color: #e6e6e8;
}

a:active {
    text-decoration: nonoe;
color: #e6e6e8;
}